<%= stylesheet_link_tag "posts" %>
<%= link_to "HOME", home_path %>
<br>
<div style="padding-left: 40%">
  <h4>New post</h4>
  <%= form_tag posts_path, method: :post do %>
  <%= text_field_tag :content %>
  <%= submit_tag "Post", class: "btn btn-large btn-primary" %>
  <% end %>
</div>
<body>
  <br>
  <% @posts.each do |post| %>
  <p>
    <h6 style="padding-left: 30%"><%= post.user.email %></h6>
    <div style="float: left; width: auto; padding-left: 30%;">
      <%= post.content %>
      <%= post.likes_count %><%= link_to '♡', like_post_path(post) %>
        <%= link_to "show", post_path(post) %>
    </div>
    <%= button_to "X",  post_path(post), method: :delete, form_tag: "myButton" %>
  </p>
  <br>
  <% end %>
</body>
