<%= stylesheet_link_tag "posts" %>
<%= link_to "HOME", home_path %>
<br>
<div style="padding-left: 40%">
  <h4>New post</h4>
  <%= form_tag posts_path, multipart: true ,method: :post do %>
  <%= text_area_tag :content %>
  <%= file_field_tag :picture %>
  <%= submit_tag "Post", class: "btn btn-large btn-primary" %>
  <% end %>
</div>
<body>
  <br>
  <% @posts.each do |post| %>
  <h6 style="padding-left: 30%"><%= post.user.email %></h6>
  <div style="float: left; width: auto; padding-left: 30%;">
    <%= post.content %>
    <%= post.likes_count %><%= link_to '♡', like_post_path(post) %>
  </div>
  <% if post.user == current_user %>
    <%= button_to "X",  post_path(post), method: :delete, form_tag: "myButton" %>
  <% end %>
  <% if post.picture.exists? %>
    <br>
    <div style="padding-left: 40%"><%= image_tag post.picture.url(:medium) %></div>
  <% end %>
  <br>
  <% end %>
</body>
