<!DOCTYPE html>
<html>
<head>
  <title>Myau</title>
  <meta name="viewport" content="width=device-width,initial-scale=1">
  <%= csrf_meta_tags %>
  <%= csp_meta_tag %>

  <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
  <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
</head>

<body>
  <% unless current_page?(home_path) %>
    <%= link_to "HOME", home_path, class: "homebutton" %>
  <% end %>
  <% if current_page?(posts_path) || current_page?(users_path) %>
    <%= link_to image_tag("logo1.gif",  class: "logo"), posts_path %>
  <% end %>
  <%= render 'include/auth/auth_header' %>
  <%= yield %>
</body>
</html>
